
fastapi-cli==0.0.6
fastapi==0.115.6
sqlmodel==0.0.22
alembic==1.14.1
SQLAlchemy==2.0.36
uvicorn==0.32.1
pydantic==2.10.3
pydantic[email]==2.10.3
psycopg2-binary
passlib
jose==1.0.0
python-jose==3.3.0
pytest==8.3.5
pytest-env==1.1.5
supabase
python-multipart==0.0.9
email-validator==2.1.0.post1
numpy==1.26.4
scikit-learn==1.4.1.post1
pandas==2.2.1
python-dotenv==1.0.1
PyYAML==6.0.1
supabase==2.15.0
