fastapi==0.65.2
uvicorn==0.27.1
sqlmodel==0.0.8
alembic==1.13.1
# psycopg==3.1.18
psycopg2-binary==2.9.10
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
email-validator==2.1.0.post1
numpy==1.26.4
scikit-learn==1.4.1.post1
pandas==2.2.1
python-dotenv==1.0.1
pydantic==1.10.13
PyYAML==6.0.1
supabase==2.15.0
