name: Deploy FastAPI App

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    environment: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
            python-version: '3.11'

      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install -r api/requirements.txt

      - name: Run tests
        run: |
            cd api
            pytest

  deploy:
    runs-on: ubuntu-latest
    needs: test
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: |
            cd api
            vercel link --project=prj_fJ8xEI7nyi7X8Q6ljTsalB3JXUXI --token=${{ secrets.VERCEL_TOKEN }}
            # vercel env add ENV=prod --token=${{ secrets.VERCEL_TOKEN }}
            # vercel env add SUPABASE_URL=${{ secrets.SUPABASE_URL }} --token=${{ secrets.VERCEL_TOKEN }}
            # vercel env add SUPABASE_KEY=${{ secrets.SUPABASE_KEY }} --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy to Vercel
        run: |
            cd api
            vercel --prod --token=${{ secrets.VERCEL_TOKEN }}
